@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto&display=swap');       //This is poppins font imported in

$yellow: #f9b70d;
$--text-color: #fff;  //These are added global variables
$--text-black: #ffa500; 
$--bg-color: #000 ;
$header-height: 75px;
$primary-green: #006e0f;

* {       //This is the intial start-up
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

main {       //This is the main picked from page.js
  max-width: 100vh;
  margin: 0 auto;
}

header {       //This is the whole header style
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  align-items: center;
  padding: 28px 16%;
  margin-bottom: 40%; /* Adjust this value as needed */
  // transition: all .50s ease;

  nav {     //This is the navbar style

      text-overflow: ellipsis;  
      white-space: nowrap;
      margin-right: 64%;
      display: flex;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 5px 20px;
      // transition: all .50s ease;
      gap: 1.5rem;
      align-items: center;
      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        
        color: #D9998a;
      }
  };
}

section{
  position: absolute;
  width: 100vw;
  top: 0;
  right: 0;
  color: $--text-color;
}

.footer {       //This is the first-big footer style
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 40%;
  background-color: $--text-color;
  padding: 30px 16%;
  display: flex;
  justify-content: space-between;

    a{
      text-decoration: none;
      color: $--bg-color;
    }
   
    .column1{
      gap: 1rem;
      margin-left: 40%;
      // width: 0;
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      white-space: nowrap;
      font-weight: 300;
      h1{
        color:$--bg-color;
        font-weight: 400;  
      }

      a:hover {
        
        color: #D9998a;
      }
    }
    .column2{
      gap: 1rem;
      margin-left: 5%;
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      white-space: nowrap;
      font-weight: 300;
      h1{
        color:$--bg-color;
        font-weight: 400;
      }

      a:hover {
        color: #D9998a;
      }
    }

} 

.subfooter{       //This is the sub footer style
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: $--text-color;
    padding: 55px 16%;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    p {
      color: $--bg-color;
    }

    a{
      text-decoration: underline;
      color: $--bg-color;
      
    }
    
    a:hover {
        color: #D9998a;
      }

    .close-each{
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      a{
        text-decoration: none;
      }
      a:hover{
        color: #D9998a;
        text-decoration: none;
      }
    }

}

.all-projects {
  // min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.card {
  width: 50%;
  margin: 10% 0;
  overflow: hidden;
  border-radius: 1.2rem;
  transition: transform 0.4s ease-in-out;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;

  &:hover {
  transform: scale(1.02);
 }
  
 img {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  cursor: pointer;
  border-radius: 1.2rem;
 }
}

.infomation {
  padding: 16px;

  button {
    margin-bottom: 10px ;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    background-color: #e4c1ba;
    color: #ffffff;
    font-size: 10px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #d9998a;
    }
    
  }

  h1 {
  font-size: 1.5rem;
  font-weight: 500;
} 
  p {
  margin-bottom: 30px;
  margin-top: 8px;
  position: relative;
  
  &::after {
  content: "\2192";
  margin-left: 5px;
  font-weight: 700;
  font-size: 18px;
}
}
}

.all-projects {
  display: flex;
  margin: 0;
  width: 100%;
  // gap: 1.2rem;
  padding: 7rem 0;
  color: $--bg-color;
  justify-content: center;
  // @media (max-width: 768px) {
  //   flex-direction: column;
  //   padding: 0.4rem 1rem;
  // }
  .greenCard {
    width: 100%;
    padding: 1.4rem 2rem;
    border-radius: 10px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .icon{
      width: 3.6rem;
      height: 3.6rem;
      justify-content: center;
      display: flex; 
      align-items: center;
      border-radius: 50%;
      background-color: #d9988a9d; 
    }

    .feedBack {
      line-height: 1.3rem;
      font-family: "Poppins", sans-serif;
      font-size: 0.9rem;
    };

    .title-occupation:hover{
      cursor: pointer;
      color: #D9998a;
    }
  }
}
